 body{
    background-image: linear-gradient(rgb(116, 113, 113),rgb(236, 226, 226));
    background-repeat: no-repeat;
    height: 1000px;
} 
.title1{
  text-align: center;
}
.c3{
  border-radius: 10px;
  
}
.buttonn {
    background-color: rgb(204, 181, 177) ;
    border:  #4CAF50;
    color: white;
    padding: 14px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }
.buttonn:hover {
  
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
input{
    border-radius: 5px;
}
h1{
    font-family: century gothic;
    font-weight: bolder;
}
input[type=text] {
    padding:7px;
    border:0.5px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    font-family: century gothic;
  }

  input[type=button] {
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    font-family: century gothic;
  } 
  .inp {
    width:500px;
    margin-left:200px;
    margin-bottom:20px;
    margin-top:10px
  }
  .ajo{
    width: 500px;
  }
@media (max-width:650px) {
  .inp{
    width: 200px;
    margin-left: 25px;
  }
  h2{
    font-size: medium;
  }
  h2{
    font-size: large;
  }
  body{
    background-image: linear-gradient(rgb(116, 113, 113),rgb(236, 226, 226));
    background-repeat: no-repeat;
    height: 1200px;
} 
.buttonn{
  margin-left: 1px;
}
.ajo{
  width: 200px;
}
}
